<main>
    <h1>Login</h1>
    <form action="/api/sessions/login" method="post" class="form-group w-50">
        <label>email</label>
        <input type="email" name="email" class="form-control">
        <label>password</label>
        <input type="password" name="password" class="form-control">
        <button type="submit" class="btn btn-outline-dark w-100">Iniciar Sesion</button>
    </form>

    <a href="/api/sessions/github" class="btn btn-outline-dark">Entrar con Github</a>
</main>