<main>
    <h1>Login</h1>
    <form action="/api/sessions/register" method="post" class="form-group w-50">
        <label>Nombre</label>
        <input type="text" name="first_name" class="form-control">
        <label>Apellido</label>
        <input type="text" name="last_name" class="form-control">
        <label>email</label>
        <input type="email" name="email" class="form-control">
        <label>password</label>
        <input type="password" name="password" class="form-control">
        <button type="submit" class="btn btn-outline-dark w-100 mt-3">Registrarse</button>
    </form>
</main>